<!-- FLASH -->
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'success' %}
          <div class="alert alert-success alert-dismissable" role="alert">
            {{message}}
            <button style="float: right;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-warning alert-dismissable" role="alert">
            {{message}}
            <button style="float: right;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<!-- END FLASH -->