<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="static/assets/vendor/libs/popper/popper.js"></script>
    <script src="static/assets/vendor/js/bootstrap.js"></script>
    <script src="static/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="static/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="static/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="static/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="static/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="static/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="static/assets/vendor/libs/moment/moment.js"></script>
    <script src="static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="static/assets/vendor/libs/select2/select2.js"></script>
    <script src="static/assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="static/assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="static/assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="static/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="static/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="static/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

    <!-- Main JS -->
    <script src="static/assets/js/main.js"></script>

    <script src="static/assets/js/ui-popover.js"></script>
    <!-- <script src="static/assets/js/ui-modals.js"></script> -->
    <script src="static/assets/js/extended-ui-sweetalert2.js"></script>
    <script src="static/assets/js/forms-selects.js"></script>


    <!-- CUSTOM -->
    <script src="static/assets/js/alert-modal.js"></script>
    <script src="static/assets/js/extended-ui-perfect-scrollbar.js"></script>
    <script src="static/assets/js/cards-actions.js"></script>
    <script src="static/assets/js/wizard-ex-create-deal.js"></script>
    

        