<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  <!-- LOGO -->
  <div class="app-brand demo">
    <a href="dashboard-oee" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="/static/assets/img/logo/ubs-logo-gold.png" class="mx-2" alt="" width="30">
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2" id="logo-dept" >SUBLINE
        
      </span>
      <span class="app-brand-text demo menu-text ms-2" >4.0</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.47365 11.7183C8.11707 12.0749 8.11707 12.6531 8.47365 13.0097L12.071 16.607C12.4615 16.9975 12.4615 17.6305 12.071 18.021C11.6805 18.4115 11.0475 18.4115 10.657 18.021L5.83009 13.1941C5.37164 12.7356 5.37164 11.9924 5.83009 11.5339L10.657 6.707C11.0475 6.31653 11.6805 6.31653 12.071 6.707C12.4615 7.09747 12.4615 7.73053 12.071 8.121L8.47365 11.7183Z"
          fill-opacity="0.9" />
        <path
          d="M14.3584 11.8336C14.0654 12.1266 14.0654 12.6014 14.3584 12.8944L18.071 16.607C18.4615 16.9975 18.4615 17.6305 18.071 18.021C17.6805 18.4115 17.0475 18.4115 16.657 18.021L11.6819 13.0459C11.3053 12.6693 11.3053 12.0587 11.6819 11.6821L16.657 6.707C17.0475 6.31653 17.6805 6.31653 18.071 6.707C18.4615 7.09747 18.4615 7.73053 18.071 8.121L14.3584 11.8336Z"
          fill-opacity="0.4" />
      </svg>
    </a>
  </div>
  <!-- end logo -->

  <div class="menu-inner-shadow"></div>

  <!-- Sidebar Menu -->
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class="menu-item {{ 'active open' if page == 'dashboard-deteksi-cctv' else '' }}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-dashboard-line"></i>
        <div data-i18n="Dashboards">Dashboards</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {{ 'active' if page == 'dashboard-deteksi-cctv' else '' }}">
          <a href="dashboard-deteksi-cctv" class="menu-link ">
            <div data-i18n="Deteksi CCTV">Deteksi CCTV</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item {{ 'active' if page == 'access-management' else '' }}">
      <a href="access-management" class="menu-link">
        <i class="menu-icon tf-icons ri-drag-drop-line"></i>
        <div data-i18n="Access Management">Access Management</div>
      </a>
    </li>

    <li class="menu-item {{ 'active' if page == 'ensiklopedia' else '' }}">
      <a href="ensiklopedia" class="menu-link">
        <i class="menu-icon tf-icons ri-article-line"></i>
        <div data-i18n="Ensiklopedia">Ensiklopedia</div>
      </a>
    </li>


    

    <li class="menu-header mt-5">
      <span class="menu-header-text" data-i18n="In Transcation">In Transcation</span>
    </li>

    <li class="menu-item {{ 'active' if page == 't-absensi' else '' }}">
      <a href="t-absensi" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Absensi">Absensi</div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 't-izin' else '' }}">
      <a href="t-izin" class="menu-link">
        <i class="menu-icon tf-icons ri-file-check-line"></i>
        <div data-i18n="Izin">Izin</div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 't-lembur' else '' }}">
      <a href="t-lembur" class="menu-link">
        <i class="menu-icon tf-icons ri-file-check-line"></i>
        <div data-i18n="Lembur">Lembur</div>
      </a>
    </li>
    <!-- 
    <li class="menu-item {{ 'active' if page == 't-dinas-luar' else '' }}">
      <a href="t-dinas-luar" class="menu-link">
        <i class="menu-icon tf-icons ri-file-check-line"></i>
        <div data-i18n="Dinas Luar">Dinas Luar</div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 't-keluar-ruangan' else '' }}">
      <a href="t-keluar-ruangan" class="menu-link">
        <i class="menu-icon tf-icons ri-file-check-line"></i>
        <div data-i18n="Keluar Ruangan">Keluar Ruangan</div>
      </a>
    </li> -->

    
    

    <!-- REPORT -->
    <li class="menu-header mt-5">
      <span class="menu-header-text" data-i18n="report">Report</span>
    </li>
    <li class="menu-item {{ 'active' if page == 'r-contoh' else '' }}">
      <a href="r-contoh" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Report Apa ini ?">Report Apa ini ? </div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 'r-lembur' else '' }}">
      <a href="r-lembur" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Report Lembur">Report Lembur</div>
      </a>
    </li>
    <!-- <li class="menu-item {{ 'active' if page == 'r-cuti' else '' }}">
      <a href="r-cuti" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Report Cuti">Report Cuti</div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 'r-dinas-luar' else '' }}">
      <a href="r-dinas-luar" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Report Dinas Luar">Report Dinas Luar</div>
      </a>
    </li>
    <li class="menu-item {{ 'active' if page == 'r-keluar-ruangan' else '' }}">
      <a href="r-keluar-ruangan" class="menu-link">
        <i class="menu-icon tf-icons ri-survey-line"></i>
        <div data-i18n="Report Keluar Ruangan">Report Keluar Ruangan</div>
      </a>
    </li> -->



    <!-- MASTER -->
    <li class="menu-header mt-5">
      <span class="menu-header-text" data-i18n="Master">Master</span>
    </li>

    <li class="menu-item {{ 'active open' if page == 'm-roles' or page == 'm-access' or page == 'm-pages'  else '' }}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div data-i18n="User">User</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {{ 'active' if page == 'm-roles' else '' }}">
          <a href="m-roles" class="menu-link">
            <div data-i18n="Roles">Roles</div>
          </a>
        </li>
        <li class="menu-item {{ 'active' if page == 'm-access' else '' }}">
          <a href="m-access" class="menu-link">
            <div data-i18n="Access">Access</div>
          </a>
        </li>

        <li class="menu-item {{ 'active' if page == 'm-pages' else '' }}">
          <a href="m-pages" class="menu-link">
            <div data-i18n="Pages">Pages</div>
          </a>
        </li>
        
      </ul>
    </li>

    <!-- <li class="menu-item {{ 'active open' if page == 'm-mesin' or page == 'm-siklus' else '' }}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-settings-3-line"></i>
        <div data-i18n="Mesin">Mesin</div>
      </a>
      <ul class="menu-sub"> -->
        <!-- <li class="menu-item {{ 'active' if page == 'm-mesin' else '' }}">
          <a href="m-mesin" class="menu-link">
            <div data-i18n="Mesin">Mesin</div>
          </a>
        </li>
        <li class="menu-item {{ 'active' if page == 'm-siklus' else '' }}">
          <a href="m-siklus" class="menu-link">
            <div data-i18n="Siklus">Siklus</div>
          </a>
        </li> -->
        
      <!-- </ul>
    </li> -->

    <li class="menu-item {{ 'active open' if page == 'm-employees' or page == 'm-' else '' }}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-team-line"></i>
        <div data-i18n="Employees">Employees</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {{ 'active' if page == 'm-employees' else '' }}">
          <a href="m-employees" class="menu-link">
            <div data-i18n="Employees">Employees</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>
  <!-- end sidebar -->
</aside>
<!-- / Menu -->