<!doctype html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="static/assets/"
  data-template="vertical-menu-template"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login | GKM SUBLINE 4.0</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/assets/img/logo/ubs-logo-gold-mini.png" />

    <!-- Fonts -->
    <link href="static/fonts/googleapis/font.css" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="static/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="static/assets/vendor/fonts/flag-icons.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="static/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="static/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="static/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="static/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="static/assets/vendor/libs/@form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="static/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="static/assets/vendor/js/helpers.js"></script>
    <script src="static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="static/assets/vendor/libs/axios/axios.min.js"></script>

    <script src="static/assets/vendor/js/template-customizer.js"></script>
    <script src="static/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="authentication-wrapper authentication-cover">
      <!-- Logo -->
      <a href="javascript:void(0)" class="auth-cover-brand d-flex align-items-center gap-2">
        <span class="app-brand-logo demo">
          <img src="/static/assets/img/logo/ubs-logo-gold.png" class="mx-2" alt="" width="30">
        </span>
        <span class="app-brand-text demo text-heading fw-semibold">GKM SUBLINE 4.0</span>
      </a>
      <!-- /Logo -->
      <div class="authentication-inner row m-0">
        <!-- /Left Section -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-12 pb-2">
          <img
            src="static/assets/img/illustrations/auth-login-illustration-light.png"
            class="auth-cover-illustration w-100"
            alt="auth-illustration"
            data-app-light-img="illustrations/auth-login-illustration-light.png"
            data-app-dark-img="illustrations/auth-login-illustration-dark.png" />
          <img
            src="static/assets/img/illustrations/auth-cover-login-mask-light.png"
            class="authentication-image"
            alt="mask"
            data-app-light-img="illustrations/auth-cover-login-mask-light.png"
            data-app-dark-img="illustrations/auth-cover-login-mask-dark.png" />
        </div>
        <!-- /Left Section -->

        <!-- Login -->
        <div
          class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-12 px-12 py-6">
          <div class="w-px-400 mx-auto pt-5 pt-lg-0">
            <h4 class="mb-1">Welcome to GKM SUBLINE! 👋</h4>
            <p class="mb-5">Please sign-in to your account and start the adventure</p>

            <!-- <div id="flash"></div> -->
            {% include "includes/flash.html" %}

            <form action="login" id="login" class="mb-5" method="POST">
              <div class="form-floating form-floating-outline mb-5">
                <input type="text" class="form-control" id="nik" name="nik"
                  placeholder="Enter your username or nik" required autofocus />
                <label for="nik">NIK</label>
              </div>
              <div class="mb-5">
                <div class="form-password-toggle">
                  <div class="input-group input-group-merge">
                    <div class="form-floating form-floating-outline">
                      <input type="password" id="password" class="form-control" name="password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password" />
                      <label for="password">Password</label>
                    </div>
                    <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line"></i></span>
                  </div>
                </div>
              </div>
              <!-- <div class="mb-5 d-flex justify-content-between mt-5">
                  <div class="form-check mt-2">
                    <input class="form-check-input" name="remember" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                  </div>
                  <a href="auth-forgot-password-cover.html" class="float-end mb-1 mt-2" hidden>
                    <span>Forgot Password?</span>
                  </a>
                </div> -->
              <div class="mb-3 mb-0 text-center">
                <button class="btn btn-primary w-100" type="submit"> Log In </button>
              </div>
              <!-- <button class="btn btn-primary d-grid w-100">Sign in</button> -->
            </form>

            <!-- <form action="login" method="POST" hidden>
              <button type="submit" id="auth"></button>
            </form> -->

            <!-- <script>
              function htmlFlash(message='', color='')                                                                              {
                return `<div class="alert alert-solid-${color} d-flex align-items-center" role="alert">
                          <span class="alert-icon rounded">
                            <i class="ri-alert-line ri-22px"></i>
                          </span>
                          ${message}
                        </div>`                                                                                                     ;}
              
              function redirectDashboard()                                                                                          {
                $('#auth').trigger('click')                                                                                         ;}
  
              $(document).ready(function()                                                                                          {
                $('#login').on('submit', function (event)                                                                           {
                  event.preventDefault()                                                                                            ;
                  if ($('#remember-me').is(':checked'))                                                                             {
                      $('#remember-me').val('on')                                                                                   ;} 
                  else                                                                                                              {
                    $('#remember-me').val('')                                                                                       ;}
  
                  const nik = $('#nik').val()                                                                                       ;
                  const password = $('#password').val()                                                                             ;
                  const rememberme = $('#remember-me').val()                                                                        ;
  
                  axios.post('/api/login',                                                                                          {
                    nik: nik,
                    password: password,
                    rememberme: rememberme                                                                                          }
                  ).then(function (response)                                                                                        {
                      if(response.data.status=='success')                                                                           {
                        $('#flash').html(htmlFlash(response.data.message, 'success'))                                               ;
                        setTimeout(redirectDashboard, 1000)                                                                         ;}
                      else if(response.data.status=='warning')                                                                      {
                        $('#flash').html(htmlFlash(response.data.message, 'warning'))                                               ;}
                      else                                                                                                          {
                        $('#flash').html(htmlFlash(response.data.message, 'danger'))                                                ;}
                      $('#message').text(response.data.message)                                                                     ;}
                  ).catch(function (error)                                                                                          {
                      if (error.response)                                                                                           {
                        $('#message').text(error.response.data.message)                                                             ;
                        $('#flash').html(htmlFlash(error.response.data.message, 'danger'))                                          ;} 
                      else                                                                                                          {
                        $('#message').text('An error occurred.')                                                                    ;}}
                  )                                                                                                                 ;}
                )                                                                                                                   ;}
              )                                                                                                                     ;
            </script> -->

            <p class="text-center">
              <span>You only login by
                <a href="http://172.20.33.42/sso/" target="_blank">
                  <span>SSO,</span>
                </a>
                if you don't have one please contact IT for further info.</span>
            </p>

          </div>
        </div>
        <!-- /Login -->
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="static/assets/vendor/libs/popper/popper.js"></script>
    <script src="static/assets/vendor/js/bootstrap.js"></script>
    <script src="static/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="static/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="static/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="static/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="static/assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="static/assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="static/assets/vendor/libs/@form-validation/auto-focus.js"></script>

    <!-- Main JS -->
    <script src="static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="static/assets/js/pages-auth.js"></script>
  </body>
</html>
